@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cutive&family=Josefin+Sans:wght@600&family=Kumbh+Sans:wght@200;700&family=Mohave&family=Mukta:wght@300&family=Nunito+Sans:ital,wght@0,300;0,400;1,400&family=PT+Serif&family=Poppins:wght@300;400;500;700&family=Quicksand:wght@300&family=Roboto+Mono:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
}

html body {
  width: 100%;
  overflow-x: hidden;
}

:root {
  --white: #fff;
  --red: #e50914;
  --lightRed: rgb(247, 74, 43);
  --black: rgb(23, 22, 22);
  --background-dark: rgb(34, 34, 34);
}

a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--background-dark);
}
::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 0.4rem;
  height: 0.3rem;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(161, 161, 161);
}

.dark {
  background-color: var(--background-dark);
  color: var(--white);
  transition: all 1s;
}
.light {
  background-color: var(--white);
  color: var(--background-dark);
  transition: all 1s;
}
