.title-movies {
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin: 0.3rem;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  max-width: 12.5rem;
}

.title-movies:hover {
  opacity: 0.5;
  transition: all 0.5s;
}

.section-img-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  gap: 0;
  margin-top: 0.5rem;
  border-radius: 0.7rem;
  cursor: pointer;
}

.description-movies {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  width: auto;
  text-align: center;
  color: var(--description);
  margin: 0.4rem;
}
.description-movies b {
  text-align: start;
}

/*FORM INPUT SEARCH */
.form-movies {
  width: 100%;
  height: auto;
  text-align: center;
}

.form-movies input {
  width: 30%;
  margin: 1rem 0;
  height: 2.4rem;
  padding: 0.5rem;
  outline: none;
  background-color: var(--white);
  border: .5px solid var(--border);
}

::placeholder {
  font-size: 0.8rem;
}

.btn-form {
  padding: 0.5rem 0.8rem;
  background-color: var(--red);
  border: none;
  border-radius: 0.2rem;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--white);
}

.btn-form img {
  width: 1.3rem;
}

.btn-form:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.form-movies input:hover {
  box-shadow: rgba(239, 238, 238, 0.35) 0px 5px 15px;
}

@media (max-width: 600px) {
  .title-movies {
    font-size: 0.8rem;
    margin: 1rem 0.3rem;
  }
  .form-movies input {
    width: 50%;
    margin: 0.2rem 0;
  }
  .btn-form {
    padding: 0.5rem;
  }
  .section-img-movies {
    width: 100%;
  }
}
@media (max-width: 300px) {
  .form-movies input {
    width: 90%;
  }
}
